<a href="https://www.reddit.com{{permalink}}" target="_blank" class="comment-permalink">
    <div class="comment">
        <div class="comment-info">
            <span class="comment-subreddit">{{subreddit_name_prefixed}}</span>
            <span> - </span>
            <span class="comment-user">Comment by {{author}}</span>
        </div>
        <p>{{{body}}}</p>
    </div>
</a>