<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d3e53"/>
    <meta name="Description" content="An overview of all countries">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<main>
    <form action="/login" method="post">
        <div class="container">
            <h1>Login</h1>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required value="{{body.username}}">

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required value="{{body.password}}">

            <hr>

            {{#if e.message}}
                <p>{{e.message}}</p>
            {{/if}}

            <button type="submit" class="registerbtn">Login</button>
        </div>

        <div class="container signin">
            <p>Don't have an account? <a href="/register">Sign in</a>.</p>
        </div>
    </form>
</main>
</body>
</html>