<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d3e53"/>
    <meta name="Description" content="An overview of all countries">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<main>
    <form action="/register" method="post">
        <div class="container">
            <h1>Register</h1>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required value="{{body.username}}">

            {{#if (equals error.path 'username')}}
                <p>{{error.message}}</p>
            {{/if}}

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            {{#if (equals error.path 'password')}}
                <p>{{error.message}}</p>
            {{/if}}

            <hr>
            <button type="submit" class="registerbtn">Register</button>
        </div>

        <div class="container signin">
            <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
    </form>
</main>
</body>
</html>