<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1d3e53"/>
    <meta name="Description" content="An overview of all countries">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<main>
    <form class="register-form" action="/register" method="post">
        <div class="container">
            <h1 class="title">Register</h1>

            <div class="input-container">
                <input type="text" placeholder="Username" name="username" required value="{{body.username}}"  class="input">
            </div>

            {{#if (equals error.path 'username')}}
                <p class="error-message">{{error.message}}</p>
            {{/if}}

            <div class="input-container">
                <input type="password" placeholder="Password" name="password" required class="input">
            </div>

            {{#if (equals error.path 'password')}}
                <p class="error-message">{{error.message}}</p>
            {{/if}}

            <button type="submit" class="registerbtn btn">Register</button>
        </div>

        <div class="container signin">
            <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
    </form>
</main>
</body>
</html>