:root {
    --blue: 82, 150, 221;
    --lightblue: 146, 189, 223;
    --white: 255, 255, 255;
    --grey: 215, 215, 215;
    --red: 255, 99, 20;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(var(--grey));
}

nav {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--white));
    padding: 0.6em 0.5em;
    grid-template-columns: 50% auto;
    grid-column-gap: 1em;
}

.login-btn {
    text-align: center;
    background-color: transparent;
    color: rgb(0, 121, 211);
    fill: rgb(0, 121, 211);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
}

.search-input {
    background-color: rgb(246, 247, 248);
    color: rgb(28, 28, 28);
    display: block;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 239, 241);
    border-image: initial;
    padding: 0px 16px 0px 16px;
}

.search-input:hover {
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 121, 211);
    border-image: initial;
}

.main-container {
    display: grid;
    grid-template-columns: 60% auto;
    margin: 1em;
}

#comments {
    max-height: 800px;
    background-color: rgb(var(--white));
    overflow-y: scroll;
    word-break: break-all;
}

.comment {
    padding: 1em;
}

.stats-container {
    background-color: aqua;
}